﻿@model IEnumerable<BigBazarMVCProject.Models.CategoryModel>

@{
    ViewData["Title"] = "GetCategories";
}

<h1>GetCategories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new {  categoryModel=item }) |
               
                @Html.ActionLink("Delete", "Delete", new {  id=item.CategoryId})
            </td>
        </tr>
}
    </tbody>
</table>
