﻿@model BigBazarMVCProject.Models.UserModel

@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>


<hr />
<div class="row">
    <div class="col-md-4"  id="form">
        <form id="form" >
        @*<form asp-action="CreateUser">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole1" class="control-label"></label>
                <input asp-for="UserRole1" class="form-control" />
                <span asp-validation-for="UserRole1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnClick" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to Login Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script>
      $(document).ready(function () {
          $('#btnClick').click(function () {
              var data = $('#form').serialize();

              $.ajax({
                  type: 'POST',
                  url: '/User/CreateUser',
                  data: data,
                  success: function (data) {
                      alert("Congratulations! Account created successfully")
                  },
                  error: function (err) {
                      alert("Sorry! Account creation failed! Try again")
                  }
              })
          })
      })
  </script>
}
