﻿
@{
    ViewData["Title"] = "LoginAsAdmin";
}

<h3><b style="color:brown"><marquee direction="right"> ADMIN OPERATIONS</marquee></b></h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }

            /* Links inside the navbar */
            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        /* The dropdown container */
        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }

            /* Dropdown button */
            .mynav_dropdown .mynav_dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font: inherit; /* Important for vertical align on mobile phones */
                margin: 0; /* Important for vertical align on mobile phones */
            }

            /* Add a red background color to navbar links on hover */
            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                background-color: darkviolet;
            }

        /* Dropdown content (hidden by default) */
        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Mega Menu header, if needed */
            .mynav_dropdown-content .mynav_header {
                background: red;
                padding: 16px;
                color: white;
            }

        /* Show the dropdown menu on hover */
        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
        }

        /* Create three equal columns that floats next to each other */
        .mynav_column {
            float: left;
            width: 33.33%;
            padding: 10px;
            background-color: orangered;
        }

            /* Style links inside the columns */
            .mynav_column a {
                float: none;
                color: black;
                padding: 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                /* Add a background color on hover */
                .mynav_column a:hover {
                    background-color: darkviolet;
                }

        /* Clear floats after the columns */
        .mynav_row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div class="mynav_navbar">


        <div class="mynav_dropdown">
            <button class="mynav_dropbtn">
                Category
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="mynav_dropdown-content">

                <div class="row">
                    <div class="column">

                        @Html.ActionLink("Add Category", "CreateCategory", "Category")
                    </div>

                    <div class="column">
                        @Html.ActionLink("Get list of category", "GetCategories", "Category")
                    </div>
                </div>
            </div>
        </div>
        <div class="mynav_dropdown">
            <button class="mynav_dropbtn">
                Product
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="mynav_dropdown-content">

                <div class="row">
                    <div class="column">

                        @Html.ActionLink("Add Products", "CreateProduct", "Product")
                    </div>
                    <div class="column">
                        @Html.ActionLink("Get Products", "GetProducts", "Product")
                    </div>

                </div>
            </div>
        </div>
      
    </div>
</body>
</html>





   
