﻿@model BigBazarMVCProject.Models.UserModel

@{
    ViewData["Title"] = "Login";
}

<h2><marquee direction="right">Welcomt to Big Bazar Login Page</marquee></h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .parallax {
          
            /* Set a specific height */
            min-height: 150px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

   
<div class="parallax"></div>
<centre>


    <hr />
    @*<div style="background-image: url(D:\BigBazar1.jpeg)">*@

    <div class="row" style="background-color: darksalmon">
        <div class="col-md-4" id="form">
            <form id="form" action="/User/Login" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserRole1" class="control-label"></label>
                    <input asp-for="UserRole1" class="form-control" />
                    <span asp-validation-for="UserRole1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" id="btnClick" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <br />
    <br />
    <div style="background-color:aqua">
        <h4> @Html.ActionLink("Create User Account", "CreateUser")</h4>
    </div>
</centre>
    </body>
</html>

@section Scripts {



    <script>
        $(document).ready(function () {
            $('#btnClick').click(function () {
                var role = $('#UserRole1').val();
                if (role == "Admin") {
                    return true;
                }
                else if (role == "User") {
                    return true;
                }
                else

                    alert("Role must be either User or Admin");
                return false;

            })
        })
    </script>
}
