﻿@model BigBazarMVCProject.Models.ProductModel

@{
    ViewData["Title"] = "CreateProduct";
}

<h1>CreateProduct</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <input asp-for="ProductId" class="form-control" />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label"></label>
                <input asp-for="ProductQuantity" class="form-control" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnClick" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnClick').click(function () {
                if ($('#ProductQuantity').val() <= 0) {
                    alert("Quantity cannot be less than or equal to zero");
                    return false;
                }

                if ($('#ProductPrice').val() < 0) {
                    alert("Price cannot be less than zero");
                }

                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'CreateProduct',
                    data: data,
                    success: function (data) {
                        alert("Product added successfully! Congrats");
                    },
                    error: function (err) {
                        alert("Sorry something went wrong! Please try again");
                    }

                })
            })
            $('#ProductName').mouseover(function () {
                $('#ProductName').css('background-color', 'aqua');
            })
            $('#ProductName').mouseout(function () {
                $('#ProductName').css('background-color', 'white');
            })
            $('#ProductQuantity').mouseover(function () {
                $('#ProductQuantity').css('background-color', 'aqua');
            })
            $('#ProductQuantity').mouseout(function () {
                $('#ProductQuantity').css('background-color', 'white');
            })
            $('#ProductPrice').mouseover(function () {
                $('#ProductPrice').css('background-color', 'aqua');
            })
            $('#ProductPrice').mouseout(function () {
                $('#ProductPrice').css('background-color', 'white');
            })
        })
    </script>
}



