﻿@model BigBazarMVCProject.Models.PurchaseModel

@{
    ViewData["Title"] = "PurchaseItems";
}

<h1>PurchaseItems</h1>

<h4>PurchaseModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="PurchaseId" class="control-label"></label>
                    <input asp-for="PurchaseId" class="form-control" />
                    <span asp-validation-for="PurchaseId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="PurchaseQuantity" class="control-label"></label>
                <input asp-for="PurchaseQuantity" class="form-control" />
                <span asp-validation-for="PurchaseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnClick" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnClick').click(function () {
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'PurchaseItems',
                    data: data,
                    success: function (data) {
                        alert("Items added successfully");
                    },
                    error: function (err) {
                        alert("Something went wrong! Please try again");
                    }
                })
            })
        })
    </script>
}


