﻿@model BigBazarMVCProject.Models.CustomerModel

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>CreateCustomer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <input asp-for="CustomerId" class="form-control" />
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhoneNo" class="control-label"></label>
                <input asp-for="CustomerPhoneNo" class="form-control" />
                <span asp-validation-for="CustomerPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnClick" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnClick').click(function () {
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'CreateCustomer',
                    data: data,
                    success: function (data) {
                        alert("Customer added successfully");
                    },
                    error: function (err) {
                        alert("Something went wrong! Please try again");
                    }
                })
            })
        })
    </script>
}




